@font-face {
    font-family: 'Sweet';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Light.woff2') format('woff2');
}
body { font-family:'Sweet', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; }
a {color:#333; text-decoration:none;}

.main1 { height: 879px; 
    background-image: url(./..img/main_banner.jpg); 
    background-size: cover; 
    padding-top: 750px;
    }

.main1 h1 { text-align: center; }
.main1 h1 b {padding-right: 400px;}

.head { background-color: #BCCDBC; 
    border-bottom: 1px solid #ccc; 
    }

.head_logo {
    list-style: none;
    padding: 40px 0;
    margin: 0;
    text-align: center;
            }

.gnb {
    padding: 20px 10px;
    background-color: #BCCDBC;
        }

.gnb ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
        }

.gnb li {
    display: inline-block;
    margin: 0 50px;
    font-size: 18px;       
        }   


.head .nav-underline .nav-link:focus,
.head .nav-underline .nav-link:hover { border-color: rgb(255, 255, 255);}
.head .nav-link:focus, .head .nav-link:hover { color: rgb(255, 255, 255);}

.nav-item a { color: #333; font-weight: bold; }
.fa-solid { color: #333; font-size: 25px; }

.main1{
    font-size: 40px; 
    color: white; 
    font-weight: bold; 
}


.content .img {max-width: 100%; }
.main2 {background-color: #BCCDBC; text-align:left; padding: 100px 0;  }
.story  { margin: 50px 0;}
.story_.img { padding:30px 0;}
.story_text { padding: 30px 30px;}

.bg{
    height: 100px; background-color: #BCCDBC;
}
.main2, .main3, .main4, .main5, .main6 {padding: 80px 0; background-color: #BCCDBC;}
.titile { font-family: 'SB Aggro', serif;}

.main2 { background-image: url(./.img/main2_bg.png); background-position: center center; background-size: 128% 93%; background-repeat: no-repeat; padding-top: 300px;}
.main3 { background: linear-gradient(0deg,rgba(188, 205, 188, 1) 0%, rgba(161, 181, 161, 1) 20%, rgba(161, 181, 161, 1) 80%, rgba(188, 205, 188, 1) 100%);}
.main3 h3 { font-size: 36px; font-weight: bold;}
.main3 {padding: 250px 0;}
.main3 .bland_list { margin: 100px 0;}
.symbol  {margin-left: 320px};
.color {margin-left: 400px;}
.brand  { margin: 80px 0;}
.part2 { text-align: right; padding-right : 50px;}
.part1 .part3 { text-align: left; padding-left : 50px;}

.main4 {background-image: url(./.img/main3_bg.png); 
        background-position: left; background-size: auto 100%; background-repeat: no-repeat;}
.main4 h2 {padding-top: 150px;}
.brand_line{ width: 650px;}

.main5 {text-align:left; padding: 100px;}
.main5 .img{ width: 250px;}
.main5 .container {background-color: #C9D7C9; padding: 30px; margin: 20px, auto;}
.main5 h2 { margin-bottom: 20px; padding: 10px;}
.news {text-align: left;}
.newsphoto .img { border-radius: 10px; }
.newsphoto p { background-color: #FAFFE6; border-radius: 10px; border-color: #767676; padding: 5px 10px; margin-top: 10px; width: 250px}
.newsphoto p { text-align: right;}
.newsphoto i { font-size: 15px;}
.main6 {text-align:left; padding: 100px 0;}
.main6 .titile {margin-bottom: 5px; padding: 10px; padding-left: 550px;}
.main6 .img { border-radius: 85px;}
.main6 .map .img { margin-left: 130px;}
.foot {background-color: #484848; color:#fff}
.foot .foot_copy { padding: 30px 280px;}
.foot .right {align-content: right; gap: 33px; text-align: right;}

.btn { background-color: #4B614A; color: white; border-radius: 30px; padding: 10px 30px;}